VITE_SUPABASE_URL=https://TU-PROYECTO.supabase.co
VITE_SUPABASE_ANON_KEY=TU_ANON_KEY_PUBLICA
VITE_VAPID_PUBLIC_KEY=BETBR-lAaW88XArWxfa_MAmL25pDdIy93cqAhE_N4UbhZSiv7_33_C8XrrrgC3IVD2LZDSzB_QJTuoCeZ238Tes
